@keyframes mfm-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mfm {
  display: inline-block;
}

._mfm_spin_ {
  animation: 1s linear 0s infinite normal none running mfm-spin;
}

._mfm_x2_,
._mfm_x3_,
._mfm_x4_ {
  font-size: var(--mfm-zoom-size);

  ._mfm_x2_,
  ._mfm_x3_,
  ._mfm_x4_ {
    font-size: calc(var(--mfm-zoom-size) / 2 + 50%);

    ._mfm_x2_,
    ._mfm_x3_,
    ._mfm_x4_ {
      font-size: 100%;
    }
  }
}

._mfm_x2_ {
  --mfm-zoom-size: 200%;
}

._mfm_x3_ {
  --mfm-zoom-size: 400%;
}

._mfm_x4_ {
  --mfm-zoom-size: 600%;
}

._mfm_blur_ {
	filter: blur(6px);
	transition: filter 0.3s;
	&:hover {
		filter: blur(0px);
	}
}
